<div id="parent_login_div">
  <div id="login_container" align="center">
    <div id="login_innerbox">

      <%= form_tag("/music_player/login", method: :post) do %>
        <div>Username</div>
        <input type="text" name="username" class="inputtextbox" />
        
        <div>Password</div>
        <input type="password" name="password" class="inputtextbox" />
        
        <input type="submit" value="LOGIN" class="inputbutton" />
        <input type="button" value="REGISTER" onclick="location.href = '/music_player/register'" class="inputbutton" />
      <% end %>
      
    </div>
  </div>
</div>